<!DOCTYPE html>
<html>
<head>
    <title>WordCloud</title>
</head>
<body>
<div class="bd-example" align="middle">
 
<img src="{{url_for('static', filename='wordcloud.png')}}" align="middle"/>
        
</div>
</body>
</html>